@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@500&display=swap');

* {
  padding: 0;
  margin: 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  width: 95%;
  height: 30px;
  padding: 2%;
}

.header-container > nav {
  color: #6070ff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
}

.nav-item1 {
  flex-grow: 1;
}

.nav-item2 {
  flex-grow: 8;
}

.nav-item3 {
  flex-grow: 1;
}

.content {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  background-image: url("images/header.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 98%;
  height: 90vh;
  border-radius: 0 0 0 100px;
  border-bottom: 2px solid #cfd8dc;
}

.intro {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  width: 70%;
  margin: 5%;
  margin-top: 25%;
}

.intro1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  position: static;
  width: 327px;
  height: 146px;
  left: 24px;
  top: 276px;
  color: #344563;
  margin-top: 0;
}

p.intro1 {
  padding: 25px;
}

.intro2 {
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-left: 6%;
}

.social {
  display: flex;
  list-style: none;
}

ul.social {
  margin-block-start: 1px;
  margin-block-end: 1px;
  padding-inline-start: 0;
}

.social-icon {
  align-items: center;
  justify-content: center;
  height: 20px;
  padding: 10px 0 0 20px;
}

li.social-icon {
  display: flex;
}
