@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@500&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #e5e5e5;
}

.web-nav {
  display: none;
}

.header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  padding: 2%;
}

.header-container > nav {
  color: #6070ff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
}

.nav-item1 {
  flex-grow: 1;
  transition: all 1s;
}

.nav-item1:hover {
  transform: rotate(360deg);
}

.nav-item2 {
  flex-grow: 8;
}

.nav-item3 {
  flex-grow: 1;
}

.content {
  display: flex;
  flex-direction: column;
  background-image: url("images/header.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 98%;
  height: 90vh;
  border-radius: 0 0 0 100px;
  border-bottom: 2px solid #cfd8dc;
}

.intro {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  width: 70%;
  margin: 5%;
  margin-top: 25%;
}

.intro1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  position: static;
  width: 90%;
  height: 146px;
  left: 24px;
  top: 276px;
  color: #344563;
  margin-top: 0;
}

p.intro1 {
  padding: 25px;
}

.intro2 {
  color: #7f8cff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: flex-start;
  padding-left: 24px;
}

.social {
  display: flex;
  list-style: none;
}

ul.social {
  margin-block-start: 1px;
  margin-block-end: 1px;
  padding-inline-start: 0;
}

.social-icon {
  align-items: center;
  justify-content: center;
  height: 20px;
  padding: 10px 0 0 20px;
  transition: all 2s;
}

.social-icon:hover {
  transform: rotate(360deg);
}

li.social-icon {
  display: flex;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  width: 90%;
  height: 600px;
  left: calc(50% - 327px / 2);
  top: 114px;
  background: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 8%;
}

.title {
  position: static;
  width: 280px;
  height: 25%;
  left: 0;
  top: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  padding-top: 10px;
  padding-bottom: 20px;
}

.role {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1.5fr 0.5fr 1.5fr 0fr;
}

.role-name {
  position: static;
  width: 55px;
  height: 16px;
  left: 0;
  top: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0.5px 2px;
}

.role-dot {
  width: 10px;
  height: 10px;
  left: 67px;
  top: 12px;
  background: #c1c7d0;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 2.5px 12px;
  border-radius: 50%;
}

.role-job {
  position: static;
  width: 88px;
  height: 16px;
  left: 0;
  top: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0.5px 0.5px;
}

.role-year {
  position: static;
  width: 29px;
  height: 16px;
  left: 0;
  top: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0.5px 0.5px;
}

.project-description {
  margin-left: 5%;
}

.project-description > h1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #091e42;
}

.project-details {
  width: 70%;
  height: 76px;
  left: 0;
  top: 92px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;

  /* margin: 12px 0; */
}

.skills {
  display: flex;
  float: right;
  align-items: center;
  position: static;
  padding: 0.5px;
  width: 100%;
  height: 24px;
  left: 0.5px;
  top: 180px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin-top: 10%;
}

li.skill {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4px 12px;
  position: static;
  width: 53px;
  height: 24px;
  left: 0.5px;
  top: 0.5px;
  background: #ebebff;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0.5px 8px;
}

.skill {
  position: static;
  width: 29px;
  height: 16px;
  left: 12px;
  top: 4px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;

  /* margin: 0.5px 0.5px; */
}

.button-click {
  position: static;
  width: 70%;
  height: 72px;
  left: 0.5px;
  top: 216px;
  flex: none;
  order: 3;
  flex-grow: 0;
  margin-top: 30%;
}

.button-resume {
  position: static;
  width: 70%;
  height: 72px;
  left: 0.5px;
  top: 216px;
  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 24px 0.5px;
  padding-left: 20px;
}

.btn {
  flex-direction: row;
  align-items: center;
  background: #fff;
  padding: 7px;
  top: 12px;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #396df2;
}

.btn:hover {
  background-color: #396df2;
  color: #fff;
}

.about {
  background: #fff;
  width: 90%;
}

.about-me {
  display: flex;
  position: static;
  width: 90%;
  left: 0.5px;
  top: 0.5px;
  padding: 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40.5px;
  line-height: 52px;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0.5px;
}

.lang {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.imglang {
  width: 30px;
  padding-right: 40px;
}

.lang-title {
  position: absolute;
  height: 24px;
  left: 12px;
  right: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20.5px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
  padding-left: 24px;
  justify-content: space-between;
}

.language-list {
  padding: 5px;
}

.lang-skill {
  position: static;
  width: 80%;
  height: 66.72px;
  left: 12px;
  top: 12px;
  display: flex;
  padding-left: 20px;
  align-items: center;
  column-gap: 20px;
  background: #f7f7f9;
  border-radius: 8px;
  margin: 12px 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.line {
  display: flex;
  height: 2px;
  width: 90%;
  background: #dfe1e6;
}

.contact-me {
  background-color: #6070ff;
  border: 1px solid #cfd8dc;
  border-radius: 100px 0 0 0;
  margin-top: 30%;
  width: 98%;
}

.bg-image {
  background-image: url(images/contact-me.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.contact-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  height: 56px;
  justify-content: center;
  padding-top: 80px;
}

.contact-text {
  padding-left: 20%;
  padding-right: 20%;
  margin-bottom: 40px;
  width: 70%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ebebff;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 8px;
  align-items: center;
}

#username {
  background: #fff;
  height: 48px;
  margin: 0 24px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 0 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 21px;
  color: #172b4d;
  width: 70%;
  margin-bottom: 18px;
}

#useremail {
  background: #fff;
  height: 48px;
  margin: 0 24px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 0 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 21px;
  color: #172b4d;
  width: 70%;
  margin-bottom: 18px;
}

#usermessage {
  height: 170px;
  left: 24px;
  margin: 0 24px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 0 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 21px;
  color: #172b4d;
  width: 70%;
}

.contact-form button {
  height: 48px;
  width: 148px;
  margin-left: -50px;
}

@media screen and (min-width: 992px) {
  .body {
    margin: 0;
    background-color: #e5e5e5;
  }

  .header-container {
    display: none;
  }

  .web-nav {
    display: flex;
  }

  nav {
    display: flex;
    height: 80px;
    width: 90%;
    background: #fff;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
  }

  nav .logo {
    color: #6070ff;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
  }

  nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }

  nav ul li {
    margin: 0 5px;
  }

  nav ul li a {
    color: #344563;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
  }

  nav ul li a:hover {
    color: #fff;
    background: #344563;
  }

  .content {
    background-image: url(images/Header-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100vh;
    border-radius: 0 0 0 100px;
    border-bottom: 1px solid #cfd8dc;
    background-color: #fff;
  }

  .content p {
    width: 63%;
    margin-left: 20%;
    margin-top: -5%;
    line-height: 28px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
  }

  .content h3 {
    margin-left: 20%;
    margin-top: -5%;
  }

  .content ul {
    margin-left: 20%;
    margin-top: 1%;
  }

  .intro {
    width: 400px;
    font-size: 48px;
    line-height: 60px;
    margin-left: 22%;
  }

  .projects {
    display: flex;
    flex-direction: row;
    align-items: normal;
    justify-content: space-around;
    margin: 5%;
    width: 90%;
    height: 60%;
  }

  .img-web {
    display: flex;
    width: 40%;
  }

  .project-description {
    display: flex;
    flex-direction: column;
  }

  .project-details {
    display: flex;
    align-items: center;
  }

  .role {
    display: flex;
    align-items: center;
    margin-top: 10%;
  }

  .role-name {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #344563;
  }

  .role-dot {
    width: 10px;
    height: 10px;
    left: 67px;
    top: 12px;
    background: #c1c7d0;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 6.5px 22px;
    border-radius: 50%;
  }

  .role-job {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
  }

  .role-year {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #6b778c;
  }

  .project-details > p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 496px;
    height: 50px;
    left: 24px;
    top: 146px;
  }

  .info {
    margin-top: -2rem;
  }

  .about {
    display: flex;
    flex-direction: row;
    border-radius: 0 100px 0 0;
    width: 100%;
  }

  .about p {
    width: 82%;
    margin-left: 2%;
    line-height: 28px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
  }

  .about-me {
    padding: 2%;
    margin-left: 3%;
  }

  .about h3 {
    margin-left: 2%;
    margin-top: -3%;
  }

  .social {
    margin-left: 4%;
    width: 70%;
  }

  .button-resume {
    margin-left: 2%;
  }

  .button-click {
    margin-top: 4%;
  }

  .left {
    width: 50%;
    margin-left: 5%;
  }

  .line {
    display: flex;
    height: 2px;
    width: 500px;
    background: #dfe1e6;
  }

  .contact-me {
    margin-top: 1px;
    width: 100%;
  }

  .contact-title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    text-align: center;
  }

  .contact-text {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    width: 38%;
  }

  form {
    width: 38%;
  }

  .contact-me button {
    margin-left: 25%;
  }
}
